.idea/
.videos/
.screenshots/
/node_modules
.DS_Store
build/*
cypress/snapshots/
cypress/screenshots/
cypress/videos/
cypress/plugins/credentials.json
cypress/plugins/gmail_token.json

cypress/reports/
cypress/results/
